<section id="image-slider-section">
  <div class="br-container">
    <image-slider-component>
    </image-slider-component>
  </div>
</section>

<section id="option-section">
  <div class="container br-container">
    <options-panel-component (optionSelected)="isOptionSelected($event)">
    </options-panel-component>
  </div>
</section>
