<div class="container br-container">
  <h1>
    Brews !
  </h1>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="panel br-container">
      <!-- Form -->
        <form>
          <div class="form-group">
            <label for="coffeeTextField">Coffee</label>
            <input type="text" name="first" [(ngModel)]="brew.coffee" class="form-control" id="coffeeTextField" placeholder="Enter Coffee Name">
          </div>
          <div class="form-group">
            <label for="weightTextField">Weight</label>
            <input type="text" name="second" [(ngModel)]="brew.weight" class="form-control" id="weightTextField" placeholder="Enter Weight">
          </div>
          <div class="form-group">
            <label for="unitTextField">Unit</label>
            <input type="text" name="third" [(ngModel)]="brew.unit" class="form-control" id="unitTextField" placeholder="Enter Unit">
          </div>
          <div class="form-group">
            <label for="toolTextField">Tool</label>
            <input type="text" name="fourth" [(ngModel)]="brew.tool" class="form-control" id="toolTextField" placeholder="Tool used to brew yout coffee">
          </div>
          <button type="submit" class="btn btn-primary" (click)="saveBrew()">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-lg-8 col-md-6">
      <div class="panel br-container">
        <ul class="brew-list">
          <li *ngFor="let brew of brews">
            <div class="view">
              <p class="brew-title">Coffee: {{brew.coffee}}</p>
              <p>Time: {{brew.time}}</p>
              <p>Weight: {{brew.weight}}</p>
              <p>Unit: {{brew.unit}}</p>
              <p>Tool: {{brew.tool}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- D3 Chart --->
    <svg width="960" height="500"></svg>
  </div>
</div>

