<div class="br-container">
  <navigation-bar-component>
  </navigation-bar-component>
</div>
<router-outlet></router-outlet>
<footer class="footer br-container">
  <div class="container">
    Footer
  </div>
</footer>

