<div class="container">
  <h1>Blog!</h1>
  <div class="row">
    <div class="col-md-12">
      <ul class="br-blog br-container">
        <li *ngFor="let entry of entries">
          <div class="br-entry-container entry-title" (click)=onEntrySelected(entry.id)>
            {{entry.title}}
          </div>
          <div class="br-entry-container">
            {{entry.content}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


