<div class="container br-container">
  <h1>
    Recipes !
  </h1>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="panel br-container">
        <ul class="recipe-list">
          <li *ngFor="let recipe of recipes" (click)="onRecipeSelected(recipe)">
            <div class="view">
              <label>{{recipe.name}}</label>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-8 col-md-6">
      <div class="panel br-container option-panel">
        <p>{{description}}</p>
      </div>
    </div>
  </div>
</div>

