  <carousel>
    <slide>
      <img src="../../../assets/img/la.jpg" alt="First slide" style="width: 100%">
    </slide>
    <slide>
      <img src="../../../assets/img/chicago.jpg" alt="Second slide" style="width: 100%">
    </slide>
    <slide>
      <img src="../../../assets/img/ny.jpg" alt="Third slide" style="width: 100%">
    </slide>
  </carousel>
